li {
  list-style: none;
}
body {
  /* font-family: "Hiragino Kaku Gothic ProN"; */
  margin:0;
  margin-top: 60px;
  color:#333333;
  position:relative;
  /* margin-bottom:250px; */
}
a {
  text-decoration: none;
}
header {
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position:fixed;
  top:0;
  z-index:10;
}


.signinpage{
background-image:url(businesswallpaper.jpg);
  /* 画像を常に天地左右の中央に配置 */
background-position: center center;
/* 画像をタイル状に繰り返し表示しない */
background-repeat: no-repeat;
/* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
background-attachment: fixed;
/* 表示するコンテナの大きさに基づいて、背景画像を調整 */
background-size: cover;
/* 背景画像が読み込まれる前に表示される背景のカラー */
background-color: #464646;
text-align: center;
padding-top:20px;
}
.errormessageareasignin{
  height:30px;
  padding-right:40px;
}
.inputloginarea{
margin:0 auto;
}
.loginbtn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #f7f7f7;
    /* border-left: solid 6px #ff7c5c;/*左線*/ */
    color: #ff7c5c;/*文字色*/
    font-weight: bold;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}
.loginbtn:active {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    transform: translateY(2px);
}

.justblank2{
  height:215px;
}




.header-left {
  float: left;
}
.header-logo {
  text-decoration: none;
  color:white;
  line-height:50px;
  font-size: 30px;
}

.header-right{
  float: right;
  width:50%;
  text-align:right;
}
.headerbtn{
  line-height: 50px;
  padding:12.5px 25px;
  color: white;
  margin: 0 0 0 10px;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}
.headerbtn:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.top-wrapper{
  position:fixed;
  z-index: 2;
  left:40px;
  top:40px;
  text-align: center;
  display:inline-block;
}
.gotonewpostpage{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 4px;
    color: #ffffff;
    background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #c58668;
}

.gotonewpostpage:active{
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

.search_icon{
  font-size: 25px;
  width:90px;
}

.serchnothing{
  width:300px;
  position:absolute;
  top: 180px;
  left: 500px;
}
.statuses{
  position:relative;
  z-index: 1;
}
.status{
  width: 600px;
  margin:0 auto;
  padding-bottom: 150px;

/* position: relative; */
}
.post_content {
    word-break: break-all;
    padding: 20px;
    padding-left: 35px;
    background-color: skyblue;
    /* background-color: greenyellow; */
    color: black;
    border-radius: 50px;
    margin-top: 80px;
    /* margin-left: 300px; */
    position: relative;

}
/* 色付きの半円 */
.post_content::before {
    content: ' ';
    position: absolute;

    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    transform: rotate(45deg);
    left: 30px;
    bottom: -18px;
    border-left: 20px solid transparent;
    border-top: 20px solid transparent;
    border-right: 20px solid skyblue;
    border-bottom: 20px solid skyblue;
}
/* 白い半円 */
.post_content::after {
    content: '';
    position: absolute;

    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    transform: rotate(45deg);
    left: 15px;
    bottom: -18px;
    border-left: 20px solid transparent;
    border-top: 20px solid transparent;
    border-right: 20px solid #ffffff;
    border-bottom: 20px solid #ffffff;
  }

  .comment_content{
    word-break: break-all;
    padding: 20px;
    padding-left: 35px;
    background-color: greenyellow;
    color: black;
    border-radius: 50px;
    margin-top: 100px;
    /* margin-left: 300px; */
    position: relative;

  }
  .comment_content::before {
      content: ' ';
      position: absolute;

      display: block;
      width: 0;
      height: 0;
      border-radius: 50%;
      transform: rotate(45deg);
      right: 30px;
      bottom: -18px;
      border-left: 20px solid transparent;
      border-top: 20px solid transparent;
      border-right: 20px solid greenyellow;
      border-bottom: 20px solid greenyellow;
  }
  /* 白い半円 */
  .comment_content::after {
      content: '';
      position: absolute;

      display: block;
      width: 0;
      height: 0;
      border-radius: 50%;
      transform: rotate(45deg);
      right: 15px;
      bottom: -18px;
      border-left: 20px solid transparent;
      border-top: 20px solid transparent;
      border-right: 20px solid #ffff;
      border-bottom: 20px solid #ffff;
    }

.lettersmall{
  font-size: 9.5px;
}
.letterlittlesmall{
  font-size: 12px;
}
.comment_box{
  /* 吹き出し本体 */
    position: relative;

    padding: 20px;
        padding-left: 35px;
    margin-top:50px;
    background-color: #f7f06e;
    border-radius: 30px;
}
.comment_box::before {
    content: '';
    position: absolute;

    display: block;
    border-radius: 50%;
    background-color: #f7f06e;
    right: 20px;
    bottom: -40px;
    width: 30px;
    height: 30px;
}
/* 小さい丸 */
.comment_box::after {
    content: '';
    position: absolute;

    display: block;
    border-radius: 50%;
    background-color: #f7f06e;
    right: 4px;
    bottom: -50px;
    width: 15px;
    height: 15px;
}
.commenterrorletterred{
  color:red;
  text-align:center;
}

.deletebtn{
  text-align: right;
  padding-right: 40px;
}

.commentbtn{
text-align: center;
}

.commentbtn input{
background-color:#f7f06e;
}
.commentbtn input:hover{
cursor:pointer;
}
.postdeletegarbage{
  background-color:skyblue;
}
.postdeletegarbage:hover{
  cursor:pointer;
}
.commentdeletegarbage{
  background-color:greenyellow;
}
.commentdeletegarbage:hover{
  cursor: pointer;
}

.Bob {
  position: fixed;
  z-index:-100;
  top:300px;
  left:70px;
  width:100%;
  height:auto;
}
.Alex{
  position:fixed;
  z-index:-100;
  top:305px;
  left:1000px;
  width:100%;
  height:auto;
}
.justblack{
  height: 150px;
}


.postpage{
}
.posttitle{
  color:skyblue;
  font-family:'Hiragino Kaku Gothic Pro', sans-serif;
  margin:0 auto;
  text-align: center;
}
.newpost_from{
  margin:0 auto;
}
.post_content_input {
    position: relative;
    margin:0 auto;
    padding: 50px 100px;
    background: skyblue;
    border-radius: 30px;
    width:600px;
}
.post_content_input_inside{
}
/* .post_content_input:before{font-family: FontAwesome;
    content: "\f111";
    position: absolute;
    font-size: 15px;
    left: -40px;
    bottom: 0;
    color: skyblue;
}
.post_content_input:after{
    font-family: FontAwesome;
    content: "\f111";
    position: absolute;
    font-size: 23px;
    left: -23px;
    bottom: 0;
    color: skyblue;
} */
.post_content_input p {
    margin: 0;
    padding: 0;
}





.errormessageareapostpage{
  height: 85px;
  margin-left: 35px;
  text-align: center;
  padding-right: 40px;
}
.postgo{
padding-top:30px;
text-align:center;
}
.postgo a{
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: skyblue;
  background: #fff;
  transition: .4s;
}
.postgo a:hover {
  cursor: pointer;
}



.postgobtn{
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  background-color: white;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}
.postgobtn:hover {
  background: #67c5ff;
  color: white;
}





.managementpagetitle{
  text-align: center;
  color:#888888;
}
.managementtable{
  border-collapse:collapse;
  margin:0 auto;
  padding: 0;
}
.managementtable th{
  color:#555555;
}
.managementtable td{
  border-bottom:1px dashed #BBBBBB;
}
.managementtable th, .managementtable td{
  border-bottom:2px solid #BBBBBB;
  width: 85px;
}
.managementtable td, .managementtable th{
  padding:10px;
  text-align: center;
  width: 118px;
}



.managementpagebox {
    border: 10px double #BBBBBB;
    margin: 10px 100px;
    padding: 2em;
}


.lettergreen{
  color:green;
}
.letterblue{
  color:blue;
}
.letterred{
  color:red;
}
.stopbtn{
    position: relative;
    display: inline-block;
    /* font-weight: bold; */
    padding: 3px 1em;
    text-decoration: none;
    /* border-left: solid 4px #ff0040;
    border-right: solid 4px #ff0040; */
    color: #ff0040;
    background:#ffe6eb;
    transition: .4s;
}

.stopbtn:hover {
    background: #ff0040;
    color: #FFF;
}
.activebtn{
    position: relative;
    display: inline-block;
    /* font-weight: bold; */
    padding: 3px 1em;
    text-decoration: none;
    /* border-left: solid 4px #668ad8;
    border-right: solid 4px #668ad8; */
    color: #668ad8;
    background: #e1f3ff;
    transition: .4s;
}

.activebtn:hover {
    background: #668ad8;
    color: #FFF;
}



.editbtn {
display: inline-block;
font-size:12px;
font-weight: bold;
width: 80px;
height: 20px;
padding-top:4px;
text-align: center;
text-decoration: none;
color: lime;
border: 2px solid lime;
border-radius: 3px;
transition: .4s;
}
.editbtn:hover {
background: lime;
color: #fff;
}

/* .editbtn{
   position: relative;
   display: inline-block;
   font-weight: bold;
   padding: 0 0;
   text-decoration: none;
   color: lime;
}

.editbtn:before{
   position: absolute;
   content: '';
   width: 100%;
   height: 3px;
   top:100%;
   left: 0;
   border-radius: 3px;
   background:lime;
   transition: .2s;
}

.editbtn:hover:before {
    top: -webkit-calc(100% - 3px);
    top: calc(100% - 3px);
} */



.inputtable{
  border-collapse: separate;
  border-spacing: 5px;
  margin: 0 auto;
}
.dobtnarea{
  text-align: center;
}
.doeditbtn{
    height: 40px;
    width:60px;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: lime;/*背景色*/
    border-bottom: solid 2px darkolivegreen;/*少し濃い目の色に*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
}
.doeditbtn:active {
    border-bottom: solid 2px lime;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}


.signuppagetitle{
  color:#FFC107;
  text-align:center;
  margin: 0 auto;
}

.error_list{
padding-right: 0;
}
.signuperrorarea{
  /*height:8em;*/
  height:97px;
  text-align: center;

}
.signuperrorarea li{
  color:red;
  font-size:13px;
  text-align: left;
    margin-left: 478px;
}

.newsignupformbox {
    position: relative;
    margin: 0px 140px 0 140px;
    padding: 50px 10px 50px 0;
    border: solid 3px #FFC107;
}
.newsignupformbox .box-title {
    position: absolute;
    display: inline-block;
    top: -2px;
    left: -2px;
    padding: 0 9px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    font-size: 17px;
    background: #FFC107;
    color: #ffffff;
    font-weight: bold;
}
.newsignupform {
    margin: 0;
    padding: 0;
}
.dosignupbtnarea{
  text-align: center;
  padding-top:7px;
}


.dosignupbtn{
  height: 40px;
  width:60px;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #FFC107;/*背景色*/
  border-bottom: solid 2px yellow;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}

.dosignupbtn:active {
    border-bottom: solid 2px #FFC107;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.editpagetitle{
  color:lime;
  text-align: center;
  margin: 0 auto;
}
.editerrorarea{
  height:97px;
  text-align: center;
}
.editerrorarea li{
  color:red;
  font-size:13px;
  text-align: left;
  margin-left: 426px;
  /* text-align: left;
    margin-left: 478px; */
}

.editformbox {
  position: relative;
  margin: 0px 140px 0 140px;
  padding: 50px 10px 50px 0;
  border: solid 3px lime;
}
.editformbox .editbox-title {
    position: absolute;
    display: inline-block;
    top: -2px;
    left: -2px;
    padding: 0 9px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    font-size: 17px;
    background: lime;
    color: #ffffff;
    font-weight: bold;
}
.editform {
    margin: 0;
    padding: 0;
}
.doeditbtnarea{
  text-align: center;
  padding-top:7px;
}
.doeditbtn{
  height: 40px;
  width:60px;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: lime;/*背景色*/
  border-bottom: solid 2px green;/*少し濃い目の色に*/
  border-radius: 4px;/*角の丸み*/
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
}
.doeditbtn:active {
    border-bottom: solid 2px lime;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}


/* hambergermenu */
#nav-drawer {
  position: fixed;
  z-index: 100;
  top:60px;
  right:10;
  display:inline-block;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  position: fixed;
  z-index: 1000000;
  right: 35px;
  top: 62px;
  display: inline-block;
  width: 70px;
  height: 50px;
  vertical-align: middle;
}
.fa-search{

}
.fa-search:hover{
  cursor: pointer;
}
/*ハンバーガーアイコンをCSSだけで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  /* position: absolute;
  height: 3px;/*線の太さ*/
  /* width: 25px;/*長さ*/
  /* border-radius: 3px;
  background: #555;
  display: block;
  content: '';
  cursor: pointer; */
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒カバー*/
#nav-close {
  display: none;/*はじめは隠しておく*/
  position: fixed;
  z-index: 99;
  top: 0;/*全体に広がるように*/
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  text-align: center;
  top: 50PX;
  right: 0;
  z-index: 9999;/*最前面に*/
  width: 90%;/*右側に隙間を作る（閉じるカバーを表示）*/
  max-width: 280px;/*最大幅（調整してください）*/
  height: 100%;
  background: #fff;/*背景色*/
  transition: .3s ease-in-out;/*滑らかに表示*/
  -webkit-transform: translateX(100%);
  transform: translateX(100%);/*左に隠しておく*/
}

/*チェックが入ったらもろもろ表示*/
#nav-input:checked ~ #nav-close {
  display: block;/*カバーを表示*/
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);/*中身を表示（右へスライド）*/
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
/* hambergermenu fin */

/* footeer未完成 */
footer{
  position: absolute;
  bottom: 0;

}
.freepik{
  position: absolute;
  bottom: 0;
  right:0;
}

ul{
  margin: 0;
}
/* .footerfixed{
  position: fixed;
  bottom:0px;
} */
